.footer {
    background: #707070;
    color: #c0c0c0;
}

.footer a {
    color: #ddd;
}

.footer a:hover {
    color: #fff;
}

.footer p {
    margin: 0;
    padding: 3em 0;
}

.footer .social {
    float: right;
    padding: 1.5em 0 1.5em 1em;
    font-size: 2rem;
}