.highlights {
    display: grid;
    padding: 0 5em 1.5em;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em 4em;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }
}

@media (max-width: 767px) {
    .project-article,
    .highlights h1 {
        grid-column: span 3;
    }
}


.project-article {
    background-color: #a89e91;
    border-radius: 12px;
    cursor: pointer;
    transition: transform .2s;
    

    img {
        border-radius: 12px 12px 0 0;
    }

    h2 {
        text-align: center;
        padding: 0.5em 0;
    }

    p {
        padding: 0em 1.5em 2em 1.5em;
    }
}

.project-article:hover {
    transform: scale(1.05);
}

