.index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: auto;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }
}

.projects-wrapper {
    grid-column: span 3;
    justify-content: space-around;
    background-color: $darker-text-color;
    background-color: $background-color-lighter;
    width: 85%;
    margin: auto;
    padding: 2em;

    h1 {
        text-align: center;
        text-decoration: underline;
    }
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 1em 1em 3em;
}


.project-about {
    background-color: $background-color-lighter;
    padding: 1em;
    text-align: center;
    justify-self: center;

    h2 {
        margin: 1em 0;
        text-align: center;
    }

    img {
        height: 300px;
        width: 300px;
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    }

    a {
        display: inline-block;
        background-color: $background-color;
        border: 1px solid #fff;
        color: $text-color;
        padding: 0.75em 1.5em;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}

.contract-contact {
    display: flex;
    grid-column: span 3;
    justify-content: space-around;
    width: 85%;
    margin: auto;

    align-items: center;
}

.contract-info {
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
        text-decoration: underline;
        margin: 0.8em 0;
    }

    a {
        display: flex;
        justify-content: flex-end;
        color: $stylish-color;
        border: 1px solid $text-color;
        padding: 0.5em 1em;
        margin-left: 13.5em;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}


.index-intro {
    grid-column: span 3;
    justify-self: center;
    max-width: 500px;

    h1 {
        text-decoration: underline;
    }

    a {
        display: flex;
        justify-content: flex-end;
        color: $text-color;
        border: 1px solid $text-color;
        padding: 0.5em 1em;
        margin-left: 19em;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}

.ss-style-doublediagonal-index {
    grid-column: span 3;
    z-index: 1;
    padding-top: 2em;
    background: $background-color;
    margin-top: 10em;
    width: 100%;
}

.ss-style-doublediagonal-index::before,
.ss-style-doublediagonal-index::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 125%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ss-style-doublediagonal-index::before {
  height: 50%;
  background: $background-color-even-lighter;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}


  

@media (max-width: 992px) {
    .index-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-wrapper {
        width: 75%;
    }

    .projects {
        flex-direction: column;
        padding: 0;
    }
    
    .contract-contact {
        flex-direction: column;
        
        picture {
            margin: 3em 0 0;
        }
    }
    
}

@media (max-width: 767px) {
    .index-intro {
        width: auto;
        margin: 0 2em;
    }

    .contract-info {
        width: auto;
    }

    .contract-info a,
    .index-intro a {
    margin: 1em 1.5em 0 1.5em;
    text-align: center;
    justify-content: center;
    }

    .ss-style-doublediagonal-index {
        margin-top: 5em;
    }

    .projects-wrapper {
        width: 85%;
    }

}






