.index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: auto;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }
}

.projects-wrapper {
    grid-column: span 3;
    justify-content: space-around;
    background-color: $darker-text-color;
    background-color: $background-color-lighter;
    width: 85%;
    margin: auto;
    padding: 2em;

    h1 {
        text-align: center;
        text-decoration: underline;
    }
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 1em 1em 3em;
}


.project-about {
    background-color: $background-color-lighter;
    padding: 1em;
    text-align: center;
    justify-self: center;

    h2 {
        margin: 1em 0;
        text-align: center;
    }

    img {
        height: 300px;
        width: 300px;
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    }

    a {
        display: inline-block;
        background-color: $background-color;
        border: 1px solid #fff;
        color: $text-color;
        padding: 0.75em 1.5em;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}

.contract-contact {
    display: flex;
    grid-column: span 3;
    justify-content: space-around;
    width: 85%;
    margin: auto;

    align-items: center;
}

.contract-info {
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
        text-decoration: underline;
        margin: 0.8em 0;
    }

    a {
        display: flex;
        justify-content: flex-end;
        color: $stylish-color;
        border: 1px solid $text-color;
        padding: 0.5em 1em;
        margin-left: 13.5em;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}


.index-intro {
    grid-column: span 3;
    justify-self: center;
    width: 500px;

    h1 {
        text-decoration: underline;
    }

    a {
        display: flex;
        justify-content: flex-end;
        color: $text-color;
        border: 1px solid $text-color;
        padding: 0.5em 1em;
        margin-left: 19em;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        color: $stylish-color;
    }
}

.ss-style-doublediagonal-index {
    grid-column: span 3;
    z-index: 1;
    padding-top: 2em;
    background: $background-color;
    margin-top: 10em;
    width: 100%;
}

.ss-style-doublediagonal-index::before,
.ss-style-doublediagonal-index::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 125%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ss-style-doublediagonal-index::before {
  height: 50%;
  background: $background-color-even-lighter;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}



// .index-intro {
//     grid-column: span 2;
//     width: 50%;
//     justify-self: center;
//     align-self: center;
//     display: flex;
//     flex-direction: column;
//     line-height: 1.4;
//     border-radius: 16px;
//     border: 1px solid #000;
//     padding: 1em 1.5em;
//     background-color: $white-background;

//     h1 {
//         text-align: center;
//         margin: 0em 1em 0.3em;
//     }

//     a {
//         display: inline-flex;
//         background: $link-background;
//         border-radius: 8px;
//         padding: 10px 20px;
//         margin: 1em 0 0;
//         font-size: 1.1em;
//         color: #000;
//         font-weight: bold;


//     }

//     a:hover {
//         text-decoration: underline;
//         background-color: $link-hover;
//     }
// }



// .project-about {
//     text-align: center;
//     justify-self: center;

//     h2 {
//         margin: 1em 0;
//         text-align: center;
//     }

//     img {
//         height: 300px;
//         width: 300px;
//         border-radius: 0;
//         box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
//         cursor: pointer;
//     }

//     a {
//         display: inline-block;
//         background: $link-background;
//         border-radius: 8px;
//         padding: 10px 15px;
//         font-size: 1.1em;
//         color: #000;
//         text-decoration: none;
//         font-weight: bold;
//     }

//     a:hover {
//         text-decoration: underline;
//         background-color: $link-hover;
//     }

//     img:hover {
//         transform: scale(1.05);
//         transition: all 0.4s ease;
//         box-shadow: none;
//     }
// }

// .projects-link {
//     margin: 1em 0;
//     grid-column: span 3;
//     text-align: center;

//     a {
//         background: $link-background;
//         border-radius: 8px;
//         padding: 10px 10px;
//         color: #000;
//     }

//     a:hover {
//         text-decoration: underline;
//         background-color: $link-hover;
//     }
// }

// .sb.sb-home {
//     grid-column: span 3;
//     width: 100%;
// }

// .section-break-3 {
//     $break-color: #000;
//     background-color: #fff;
//     border: 0;
//     border-top: 1px solid #000;
//     height: 1px;
//     margin: 2rem auto;
//     text-align: center;
  
//     &::before {
//         background-color: #f6f1eb;
//         color: darken(#000, 20%);
//         content: '\25C9';
//         display: inline-block;
//         left: 50%;
//         line-height: 1;
//         padding: 0.5rem;
//         text-rendering: geometricPrecision;
//         transform: translateY(-53%);
//         z-index: 1;
//     }
// }
  

// @media (max-width: 992px) {
//     .index-container {
//         grid-template-columns: repeat(1, 1fr);
//     }

//     .index-container h1,
//     .project-about,
//     .index-intro,
//     picture {
//         grid-column: span 3;
//     }

//     picture {
//         margin: auto;
//     }

//     .index-intro a {
//         align-self: center;
//     }

//     .index-container {
//         width: 400x;
//     }

//     .index-intro {
//         width: 275px;
//         text-align: center;
//     }
    
// }



