@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');



$background-color: #0d0d0d;
$background-color-lighter: #1a1a1a;
$background-color-even-lighter: #6d6d6d;
$text-color: #e5e5e5;
$darker-text-color: #bfbfbf;
$white-text: #fff;
$footer-color: #000;
$stylish-color: #ed0000;


@import 'footer-dark';
@import 'highlights-dark';
@import 'about-dark';
@import 'home-dark';
@import 'typography';
@import 'header-dark';
@import 'report';


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

img {
    filter: grayscale(40%);
}

.main {
    background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
    padding: 5em 0 4em;
}

.container {
    max-width: 75em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: 72em;
}

.main .container {
    overflow-x: auto;
}

